<div class="modal-header minimal-color">
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
            <i aria-hidden="true" class="fa fa-times"></i>
        </button>
        <h4 class="modal-title pull-left">{{ 'DASHBOARD_ALERTS.HISTORICAL_SYSTEM_ALERTS' | translate }}</h4>
    </div>
    <div class="modal-body">    
        NYI
    </div>

<!-- <h4 md-dialog-title>Histórico de alertas de sistema</h4>
<md-dialog-content>
    <section class="filters">
        <section class="filters-line">
            <md-select placeholder="Tipo de Alerta">
                <md-option *ngFor="let alertType of alertTypes">{{ alertType }}</md-option>
            </md-select>
            <md-select placeholder="Estado">
                <md-option>Leido</md-option>
                <md-option>No leido</md-option>
            </md-select>
        </section>
        <section class="filters-line">
            <md-input-container>
                <input mdInput [mdDatepicker]="rangeStartDatepicker" placeholder="Desde">
                <button mdSuffix [mdDatepickerToggle]="rangeStartDatepicker"></button>
            </md-input-container>
            <md-datepicker #rangeStartDatepicker></md-datepicker>
            <md-input-container>
                <input mdInput [mdDatepicker]="rangeEndDatepicker" placeholder="Hasta">
                <button mdSuffix [mdDatepickerToggle]="rangeEndDatepicker"></button>
            </md-input-container>
            <md-datepicker #rangeEndDatepicker></md-datepicker>
        </section>
    </section>
    <section class="table">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Alerta</th>
                    <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                    <th class="mdl-data-table__cell--non-numeric">Fecha</th>
                    <th class="mdl-data-table__cell--non-numeric">Hora</th>
                    <th class="mdl-data-table__cell--non-numeric">Leido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Error en canal ebay.es</td>
                    <td class="mdl-data-table__cell--non-numeric">Estado Canal</td>
                    <td class="mdl-data-table__cell--non-numeric">01/01/2015</td>
                    <td class="mdl-data-table__cell--non-numeric">00:00</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-checkbox></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</md-dialog-content> -->