

  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>MODDO Channel Manager</h3>			
      <div>
        <h1>{{ 'COMPONENT.LOADING' | translate:info }}</h1>
      </div>		
    </div>
  </div>
  
<div class="row">
  <div class="col-md-4">
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
      <div class="box-header with-border">
        <h3 class="box-title">Estado de canoles</h3>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
        <div class="box-tools pull-right">
  
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-repeat dashboard-action-icons"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages ">
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Ebay</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Amazon</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Modalia</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Google Merchant</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Ebay</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Google Merchant</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Ebay</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Google Merchant</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span><i class="fa fa-check green"></i></span>
        <label>Ebay</label>
        </div>
      </div>
        </div>
  
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
      <div class="box-header with-border">
        <h3 class="box-title">Estado de canoles</h3>
      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
        <div class="box-tools pull-right">
  <!--         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button> -->
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-gear dashboard-action-icons"></i>
          </button>
        </div>
  
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages ">
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <div class="progress-bar-div"></div>
        Ebay <span class="pull-right">35</span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <div class="progress-bar-div"></div>
        Amazon <span class="pull-right">35</span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <div class="progress-bar-div"></div>
        Modalia <span class="pull-right">35</span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9 " >
        <div class="progress-bar-div"></div>
        Google Merchant <span class="pull-right">35</span>
        </div> 
      </div>
  
        </div>
  
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
      <div class="box-header with-border">
        <h3 class="box-title">Ventas realizedas</h3>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
  
        <div class="box-tools pull-right">
  <!--         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button> -->
  
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-gear dashboard-action-icons"></i>
          </button>
  
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages ">
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span>1231 </span>
        <label>Venta MES</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span>444 </span>
        <label>Venta SEMANA</label>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        <span>17 </span>
        <label>Ventas DIA</label>
        </div>
      </div>
  
        </div>
  
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-4">
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
      <div class="box-header with-border">
        <h3 class="box-title">Direct Chat</h3>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
        <div class="box-tools pull-right">
  <!--         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button> -->
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-plus dashboard-action-icons"></i>
          </button>
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-gear dashboard-action-icons"></i>
          </button>
  
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the alert1
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the alert1
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the alert1
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the alert1
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the alert1
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the alert1
        </div>
      </div>
  
        </div>
  
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
      <div class="box-header with-border">
        <h3 class="box-title">Direct Chat</h3>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
        <div class="box-tools pull-right">
  <!--         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
          </button> -->
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-plus dashboard-action-icons"></i>
          </button>
  
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the message 1
        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the message 1
        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the message 1
        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the message 1
        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the message 1
        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
        </div>
      </div>
      <div class="row pad-5A">
        <div class="col-md-2" ></div>
        <div class="col-md-9" >
        Text of the message 1
        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
        </div>
      </div>
        </div>
  
      </div>
    </div>
  </div>
  
  </div>
  
  
  
  
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button> -->
  
  <br />
  <br />
  
  <div class="row">
  <div class="col-md-6">
    <table class="table no-margin table-outer-border-background">
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>						
      </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
  
    </table>
  </div>
  <div class="col-md-6">
    <table class="table no-margin table-outer-border-background">
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>						
      </tr>
  
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td><label class="label label-green">PAID</label></td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td><label class="label label-orange">PAID</label></td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td><label class="label label-blue">PAID</label></td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td><label class="label label-darkblue">PAID</label></td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td><label class="label label-darkblue">PAID</label></td>
        </tr>
  
    </table>
  </div>
  </div>
  
  
  <div class="row">
  <div class="col-md-6">
    <table class="table no-margin table-outer-border">
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>						
      </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
        <tr>
          <td>Lorem ipsum color</td>
          <td>$3,33.45</td>
          <td>PAID</td>
        </tr>
  
    </table>
  </div>
  <div class="col-md-6">
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
      <div class="box-header with-border">
        <h3 class="box-title">Direct Chat</h3>
  
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-minus dashboard-action-icons"></i>
          </button>
          <button type="button" class="btn btn-box-tool" ><i class="fa fa-times dashboard-action-icons"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
      <div class="row col-md-12">
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
      </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-6">
  
  </div>
  <div class="col-md-6"></div>
  </div>
  
  <div class="row">
  
              <!-- /.col -->
  
              <div class="col-md-6">
  
              </div>
              <!-- /.col -->
            </div>
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <table class="table no-margin table-outer-border">
            <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>						
            </tr>
  
            </thead>
            <tbody>
              <tr>
                <td>Lorem ipsum color</td>
                <td>$3,33.45</td>
                <td><label class="bs-label label-success">PAID</label></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Latest Orders</h3>
  
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin ">
          <thead class="">
              <th>Order ID</th>
              <th>Item</th>
              <th>Status</th>
              <th>Popularity</th>
          </thead>
          <tbody>
            <tr>
              <td><a href="pages/examples/invoice.html">OR9842</a></td>
              <td>Call of Duty IV</td>
              <td><span class="label label-success">Shipped</span></td>
              <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
            <tr>
              <td><a href="pages/examples/invoice.html">OR1848</a></td>
              <td>Samsung Smart TV</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>
                <div class="sparkbar" data-color="#f39c12" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
            <tr>
              <td><a href="pages/examples/invoice.html">OR7429</a></td>
              <td>iPhone 6 Plus</td>
              <td><span class="label label-danger">Delivered</span></td>
              <td>
                <div class="sparkbar" data-color="#f56954" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
            <tr>
              <td><a href="pages/examples/invoice.html">OR7429</a></td>
              <td>Samsung Smart TV</td>
              <td><span class="label label-info">Processing</span></td>
              <td>
                <div class="sparkbar" data-color="#00c0ef" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
            <tr>
              <td><a href="pages/examples/invoice.html">OR1848</a></td>
              <td>Samsung Smart TV</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>
                <div class="sparkbar" data-color="#f39c12" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
            <tr>
              <td><a href="pages/examples/invoice.html">OR7429</a></td>
              <td>iPhone 6 Plus</td>
              <td><span class="label label-danger">Delivered</span></td>
              <td>
                <div class="sparkbar" data-color="#f56954" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
            <tr>
              <td><a href="pages/examples/invoice.html">OR9842</a></td>
              <td>Call of Duty IV</td>
              <td><span class="label label-success">Shipped</span></td>
              <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
      <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
    </div>
    <!-- /.box-footer -->
  </div>
  
  
  <div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
  </div>
  <div class="alert alert-secondary" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div class="alert alert-success" role="alert">
    This is a success alert—check it out!
  </div>
  <div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
  </div>
  <div class="alert alert-warning" role="alert">
    This is a warning alert—check it out!
  </div>
  <div class="alert alert-info" role="alert">
    This is a info alert—check it out!
  </div>
  <div class="alert alert-light" role="alert">
    This is a light alert—check it out!
  </div>
  <div class="alert alert-dark" role="alert">
    This is a dark alert—check it out!
  </div>
  
  
  <!-- add products page -publications -->
  <div>
    <div class="color-body">
    <h2>
        NUEVA PUBLICACIÓN en ebay
    </h2>
    <h5>
        paso 2 de 4 : seleccionar productos para publicar
    </h5>   
    </div>
    <div>
      <div class="row">
        <div class="col-md-7">
       
      </div>
      <div class="col-md-5">
          <input class="form-control placeholder-width" placeholder="Descripción, Marca, EAN.." type="text">
          <br>
          <button class="btn btn-primary inner" data-toggle="modal">Añadir productos</button>
          <button class="btn btn-danger inner" data-toggle="modal">
              Eliminar Seleccionado</button>
         
        </div>
        </div>
        <br>
    </div>
    </div>
  
        <div class="div-bg">
          <div class="margin-div addproduct-align">
            <p><b>Esta publicación aun no contiene productos para publicar</b></p>
      <p><a href="#"><b>Añadir productos</b></a></p>
    </div>
    </div>
    <br>
    <div class="row">
     
      <div class="col-md-5">
         
        </div>
        <div class="col-md-7">
            <button _ngcontent-c20="" class="btn btn-primary" data-dismiss="modal" type="button">&lt; Atrás</button>
            <button _ngcontent-c20="" class="btn btn-primary margin-button" data-dismiss="modal" type="button">Siguiente &gt;</button>
          </div>
   
      </div>

  
  