<div class="widget not-available-div" style="display: none;">
    <!-- <div class="md-progress-bar" *ngIf="isLoading">
        <div class="indeterminate"></div>
    </div> -->
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
        <div class="box-header with-border">
            <h3 class="box-title font-size-14 ">{{'DASHBOARD_WIDGETS.MOST_SOLD_CATEGORIES' | translate}} - {{'DASHBOARD_WIDGETS.NOT_AVAILABLE' | translate}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="height: 174px;">
        	<table style="width: 100%; text-align: center; border-spacing:2px; border-collapse:separate;">
        		<tr>
        			<th></th>
        			<th style="text-align:center;">{{'DASHBOARD_WIDGETS.REFERENCES' | translate}}</th>
        			<th style="text-align:center;">{{'DASHBOARD_WIDGETS.STOCK' | translate}}</th>
        			<th style="text-align:center;">{{'DASHBOARD_WIDGETS.VALUE' | translate}} (€)</th>
        			<th style="text-align:center;">% Total<br/>Stock</th>
        			<th style="text-align:center;">% Total<br/>Valor</th>
        		</tr>
        		<!-- <tr *ngFor="let row of topCategories">
        			<td style="text-align:left;">{{row.nombreCategoria}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.sumReferences}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.sumStock}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.sumAmount| number : '1.2-2'}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.percentStock| number : '1.2-2'}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.percentAmount| number : '1.2-2'}}</td>
        		</tr> -->
        		<tr>
        			<td style="text-align:left;">Zapatos casual mujer</td>
        			<td style="background: gray; padding-right:2px;">1.328</td>
        			<td style="background: gray; padding-right:2px;">235</td>
        			<td style="background: gray; padding-right:2px;">49.320</td>
        			<td style="background: gray; padding-right:2px;">5</td>
        			<td style="background: gray; padding-right:2px;">10</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">Zapatos altos mujer</td>
        			<td style="background: gray; padding-right:2px;">2.222</td>
        			<td style="background: gray; padding-right:2px;">9.235</td>
        			<td style="background: gray; padding-right:2px;">102.784</td>
        			<td style="background: gray; padding-right:2px;">20</td>
        			<td style="background: gray; padding-right:2px;">22</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">Zapatillas mujer</td>
        			<td style="background: gray; padding-right:2px;">212</td>
        			<td style="background: gray; padding-right:2px;">1.321</td>
        			<td style="background: gray; padding-right:2px;">48.302</td>
        			<td style="background: gray; padding-right:2px;">10</td>
        			<td style="background: gray; padding-right:2px;">9</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">Bolsos shoping mujer</td>
        			<td style="background: gray; padding-right:2px;">326</td>
        			<td style="background: gray; padding-right:2px;">5.502</td>
        			<td style="background: gray; padding-right:2px;">35.154</td>
        			<td style="background: gray; padding-right:2px;">7</td>
        			<td style="background: gray; padding-right:2px;">7</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">Complementos mujer</td>
        			<td style="background: gray; padding-right:2px;">5.235</td>
        			<td style="background: gray; padding-right:2px;">4.215</td>
        			<td style="background: gray; padding-right:2px;">90.156</td>
        			<td style="background: gray; padding-right:2px;">5</td>
        			<td style="background: gray; padding-right:2px;">9</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">Ropa</td>
        			<td style="background: gray; padding-right:2px;">3.315</td>
        			<td style="background: gray; padding-right:2px;">16.895</td>
        			<td style="background: gray; padding-right:2px;">70.015</td>
        			<td style="background: gray; padding-right:2px;">3</td>
        			<td style="background: gray; padding-right:2px;">4</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">Bolsos</td>
        			<td style="background: gray; padding-right:2px;">21</td>
        			<td style="background: gray; padding-right:2px;">982</td>
        			<td style="background: gray; padding-right:2px;">13.215</td>
        			<td style="background: gray; padding-right:2px;">1</td>
        			<td style="background: gray; padding-right:2px;">1</td>
        		</tr>
        	</table>
        	<button style="float: right;">{{'DASHBOARD_WIDGETS.EXCEL_EXPORT' | translate}}</button>
        </div>
    </div>
</div>

<div >
	<img src="assets/img/img_categoriesB.jpg" class="img-fluid"  alt="" width="100%">
</div>