<div class="md-progress-bar" *ngIf="isLoading">
  <div class="indeterminate"></div>
</div>

<section *ngIf="!isLoading">
  <form #generalForm="ngForm" class="editForm" novalidate>
    <div class="row ">
      <div class="col-md-12 modal-dialog margin-top-0" style="width: 100%;">
        <div class="modal-content box-shadow-none">
          <!--     <div class="modal-header minimal-color">
            <h4 class="modal-title">NUEVA PUBLICACIÓN</h4>
          </div> -->
          <div class="modal-body">
            <p class="titulo">{{ 'PUBLICATION.STEP_1_OF_4' | translate }}</p>
            <hr>
            <div style="max-width: 800px; margin: 0 auto;">
              <div class="row">
                <div class="col-md-2" align="right">
                  {{ 'PUBLICATION.NAME' | translate }}
                </div>
                <div class="col-md-10">
                  <input class="form-control" #name="ngModel" required id="name" name="name" type="text" placeholder="{{ 'PUBLICATION.NAME' | translate }}"
                    [(ngModel)]="general.name" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2" align="right">
                  {{ 'FILTER.DESCRIPTION' | translate }}
                </div>
                <div class="col-md-10">
                  <textarea class="form-control" #description="ngModel" required id="description" name="description"
                    type="text" placeholder="{{ 'FILTER.DESCRIPTION' | translate }}" [(ngModel)]="general.description"></textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2" align="right">
                  {{ 'PUBLICATION.PRIORITY' | translate }}
                </div>
                <div class="col-md-10">
                  <input class="form-control" #priority="ngModel" required id="priority" name="priority" type="number"
                    placeholder="{{ 'PUBLICATION.PRIORITY' | translate }}" min="0" [(ngModel)]="general.priority" style="width: 70px" />
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2" align="right">
                  {{ 'PRESETS.CHANNEL' | translate }}
                </div>
                <div class="col-md-10">
                  <div class="">
                    <select [disabled]="isEditForm()" [compareWith]="compareFn" class="form-control" #channel="ngModel"
                      [required]="true" id="channel" name="channel" type="text" placeholder="Channel" [(ngModel)]="general.channel">
                      <option *ngFor="let channel of channels" [ngValue]="channel">{{ channel.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-2" align="right">
                  {{ 'PUBLICATION.START_DATE' | translate }}
                </div>
                <div class="col-xs-10 col-md-4">
                  <input class="form-control" [required]="false" #startDate="ngModel" id="startDate" name="startDate"
                    type="text" placeholder="{{ 'PUBLICATION.START_DATE' | translate }}" [(ngModel)]="general.startDate"
                    ngui-datetime-picker [date-only]="false" [time-only]="false" [close-on-select]="true" hour="general.startDate.getHours()" minute="general.startDate.getMinutes()"/>
                </div>

                <div class="col-md-2" align="right">
                  {{ 'PUBLICATION.END_DATE' | translate }}
                </div>
                <div class="col-xs-10 col-md-4">
                  <input [disabled]="general.startDate === ''" [min-date]="getStartDate()" class="form-control"
                    [required]="false" #finishDate="ngModel" id="finishDate" name="finishDate" type="text" placeholder="{{ 'PUBLICATION.END_DATE' | translate }}"
                    [(ngModel)]="general.finishDate" ngui-datetime-picker [date-only]="false" [time-only]="false"
                    [close-on-select]="true"  hour="general.finishDate.getHours()" minute="general.finishDate.getMinutes()" />
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group text-center">

              <button class="btn btn-danger inner" (click)="cancel()">
                <span style="margin-right:10px;" class="glyphicon glyphicon-remove"></span> {{ 'BUTTONS.CANCEL' |
                translate }}</button>
              <button class="btn btn-success btn-outline-rounded " [disabled]="!generalForm.valid" (click)="goToNext(generalForm)">
                {{ 'BUTTONS.NEXT' | translate }}
                <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- 
<form #personalForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="firstname">First Name</label>  
                            <input class="form-control input-md" #firstname="ngModel" 
required id="firstname" name="firstname" type="text" 
placeholder="First Name" [(ngModel)]="personal.firstName">   
                            <div class="alert alert-danger" [hidden]="firstname.valid">First 
Name is required</div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last Name</label>  
                            <input class="form-control input-md" #lastname="ngModel" 
required id="lastname" name="lastname" type="text" 
placeholder="Last Name" [(ngModel)]="personal.lastName">
                            <div class="alert alert-danger" [hidden]="lastname.valid">Last 
Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control input-md" #email="ngModel" required 
pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" 
type="text" placeholder="Email" [(ngModel)]="personal.email">
                    <div class="alert alert-danger" [hidden]="email.valid">Email is required 
and must be valid</div>
                </div>
                    
                <div class="form-group text-center">
                    <button class="btn btn-success btn-outline-rounded btn-info" 
[disabled]="!personalForm.valid" (click)="goToNext(personalForm)"> Next 
<span style="margin-left:10px;" class="glyphicon 
glyphicon-arrow-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</form> -->