<section style="margin-bottom:10px;" *ngIf="isTabLoading || isLoading">
  <div class="md-progress-bar">
    <div class="indeterminate"></div>
  </div>
</section>

<section *ngIf="!isTabLoading">
  <!-- Custom Tabs -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs" [ngClass]="{ 'disable-load': deshabilitado }">
      <li class="active" *ngFor="let channel of channels.slice(0, 1)" id="tab{{channel.channelId}}link">
        <a href="#tab_1" data-toggle="tab" aria-expanded="true" (click)="getChannelData(channel)">{{channel.name}}</a>
      </li>
      <li class="" *ngFor="let channel of channels.slice(1, channels.length)" id="tab{{channel.channelId}}link">
        <a href="#tab_1" data-toggle="tab" aria-expanded="true" (click)="getChannelData(channel)">{{channel.name}}</a>
      </li>
    </ul>
  </div>
  <!-- Custom Tabs end -->

  <div class="row pad-5A">
    <br>
    <section style="margin-bottom:10px;" *ngIf="!fields || fields.length == 0 ">
      <div class="container">
        <h3>{{ 'CREDENTIALS.NOT_CREDENTIALS' | translate }}</h3>
      </div>
    </section>

    <section *ngIf="fields && fields.length > 0 ">
    <div *ngFor="let field of fields" class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="form-group">
            <label for = "field-{{field.key}}">{{field.name}}</label>
            <input type="text" class="form-control" id="field-{{field.key}}" [value]="field.value" [(ngModel)]="field.value">
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <hr>
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- <div class="form-group">
          <input type="checkbox" class="form-check-input" id="check" [(ngModel)]="showCredentials">
          <label class="form-check-label" for="check">{{ 'CREDENTIALS.SHOW_CREDENTIALS' | translate }}</label>
        </div> -->
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row pad-5A">
      <div class="col-md-11">
        <a class="btn btn-primary pull-right" (click)="postCredentials()">
          {{ 'CREDENTIALS.UPDATE_CREDENTIALS' | translate }}
        </a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>
  </div>

</section>