<div class="" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header minimal-color">
  
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{msg}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ok()">{{ 'BUTTONS.OK' | translate }}</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">{{ 'BUTTONS.CANCEL' | translate }}</button>
        </div>
      </div>
    </div>
  </div>