<div class="widget">
    <div class="md-progress-bar" *ngIf="isLoading">
        <div class="indeterminate"></div>
    </div>
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
        <div class="box-header with-border">
            <h3 class="box-title font-size-14 ">{{ 'DASHBOARD_ALERTS.SYSTEM_ALERTS' | translate }} </h3>
            <!-- <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool pad-top-0" (click)="openDetailDialog()">
                    <i class="fa fa-plus dashboard-action-icons"></i>
                </button>
                <button type="button" class="btn btn-box-tool pad-top-0" (click)="openConfigurationDialog()">
                    <i class="fa fa-gear dashboard-action-icons"></i>
                </button>
            </div> -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages pad-top-0 scrollbar right-sidebar">
                <p class="text-right help-text">
                    {{ 'DASHBOARD_ALERTS.LATEST_ALERTS' | translate }}
                </p>
                <div class="row pad-5A" *ngFor='let alert of alerts' [ngStyle]="{background: (alert.error) ? '#f07676' : ''}">
                    <span style="padding-left:3%; font-size: smaller; font-style: italic;">{{ alert.date | date: 'medium' }} </span>
                    <br/>
                    <div class="col-md-10"> {{ alert.text }}  </div>
                </div>

            </div>

        </div>
    </div>
</div>