
<div class="widget not-available-div" style="display: none;">
    <!-- <div class="md-progress-bar" *ngIf="isLoading">
        <div class="indeterminate"></div>
    </div> -->
    <div class="box widget-box widget-box-border direct-chat direct-chat-warning direct-chat-contacts-open">
        <div class="box-header with-border">
            <h3 class="box-title font-size-14 ">{{'DASHBOARD_WIDGETS.MOST_SOLD_BRANDS' | translate}} - {{'DASHBOARD_WIDGETS.NOT_AVAILABLE' | translate}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="height: 174px;">
        	<table style="width: 100%; text-align: center; border-spacing:2px; border-collapse:separate;">
        		<tr>
        			<th></th>
        			<th style="text-align:center;">{{'DASHBOARD_WIDGETS.REFERENCES' | translate}}</th>
        			<th style="text-align:center;">{{'DASHBOARD_WIDGETS.STOCK' | translate}}</th>
        			<th style="text-align:center;">{{'DASHBOARD_WIDGETS.VALUE' | translate}} (€)</th>
        			<th style="text-align:center;">% Total<br/>Stock</th>
        			<th style="text-align:center;">% Total<br/>Valor</th>
        		</tr>
        		<!-- <tr *ngFor="let row of topBrands">
        			<td style="text-align:left;">{{row.nombreMarca}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.sumReferences}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.sumStock}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.sumAmount| number : '1.2-2'}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.percentStock| number : '1.2-2'}}</td>
        			<td style="background: gray; padding-right:2px;">{{row.percentAmount| number : '1.2-2'}}</td>
        		</tr> -->
        		<tr>
        			<td style="text-align:left;">PIKOLINOS</td>
        			<td style="background: gray; padding-right:2px;">2.325</td>
        			<td style="background: gray; padding-right:2px;">11.235</td>
        			<td style="background: gray; padding-right:2px;">48.784</td>
        			<td style="background: gray; padding-right:2px;">10</td>
        			<td style="background: gray; padding-right:2px;">10</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">ALMA EN PENA</td>
        			<td style="background: gray; padding-right:2px;">1.254</td>
        			<td style="background: gray; padding-right:2px;">10.235</td>
        			<td style="background: gray; padding-right:2px;">49.998</td>
        			<td style="background: gray; padding-right:2px;">9</td>
        			<td style="background: gray; padding-right:2px;">9</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">MUSTANG</td>
        			<td style="background: gray; padding-right:2px;">7.854</td>
        			<td style="background: gray; padding-right:2px;">11.777</td>
        			<td style="background: gray; padding-right:2px;">110.251</td>
        			<td style="background: gray; padding-right:2px;">15</td>
        			<td style="background: gray; padding-right:2px;">15</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">PITILLOS</td>
        			<td style="background: gray; padding-right:2px;">895</td>
        			<td style="background: gray; padding-right:2px;">8.451</td>
        			<td style="background: gray; padding-right:2px;">98.457</td>
        			<td style="background: gray; padding-right:2px;">12</td>
        			<td style="background: gray; padding-right:2px;">12</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">CLARKS</td>
        			<td style="background: gray; padding-right:2px;">521</td>
        			<td style="background: gray; padding-right:2px;">3.254</td>
        			<td style="background: gray; padding-right:2px;">36.541</td>
        			<td style="background: gray; padding-right:2px;">33</td>
        			<td style="background: gray; padding-right:2px;">33</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">ADIDAS</td>
        			<td style="background: gray; padding-right:2px;">2.325</td>
        			<td style="background: gray; padding-right:2px;">11.100</td>
        			<td style="background: gray; padding-right:2px;">23.231</td>
        			<td style="background: gray; padding-right:2px;">15</td>
        			<td style="background: gray; padding-right:2px;">15</td>
        		</tr>
        		<tr>
        			<td style="text-align:left;">ZERGATIK</td>
        			<td style="background: gray; padding-right:2px;">1.582</td>
        			<td style="background: gray; padding-right:2px;">8.300</td>
        			<td style="background: gray; padding-right:2px;">28.213</td>
        			<td style="background: gray; padding-right:2px;">2</td>
        			<td style="background: gray; padding-right:2px;">4</td>
        		</tr>
        	</table>
        	<button style="float: right;" disabled>{{'DASHBOARD_WIDGETS.EXCEL_EXPORT' | translate}}</button>
        </div>
    </div>
</div>


<div>
	<img src="assets/img/img_brands.jpg" class="img-fluid"  alt="" style="width:100%;">
</div>