<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<!-- <div class="pull-right hidden-xs" [innerHTML]="footer?.right_part | safeHtml"></div> -->
	<!-- Default to the left -->
	<!-- <div [innerHtml]="footer?.left_part | safeHtml"></div> -->
	<div class="pull-right hidden-xs" >
	

	</div>
	<div ><strong>
        {{ 'FOOTER.COPYRIGHT' | translate }} &copy; {{ 'FOOTER.YEAR' | translate }}
        <a href="#" >MODDO</a>.
    	</strong>
      {{ 'FOOTER.PLATFORM' | translate }} </div> 
</footer>
