<div class="modal-header minimal-color">
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
            <i aria-hidden="true" class="fa fa-times"></i>
        </button>
        <h4 class="modal-title pull-left">{{ 'DASHBOARD_ANNOUNCEMENTS.SYSTEM_ANNOUNCEMENTS' | translate }}</h4>
    </div>
    <div class="modal-body">
        NYI
    </div>


<!-- <h4 md-dialog-title>Anuncios del Sistema</h4>
<md-dialog-content>
    <expansion-panels-container>
        <expansion-panel>
            <expansion-panel-title>Anuncio de prueba</expansion-panel-title>
            <expansion-panel-content>
                Esto es una prueba
            </expansion-panel-content>
        </expansion-panel>
        <expansion-panel>
            <expansion-panel-title>Anuncio de prueba 2</expansion-panel-title>
            <expansion-panel-content>
                Esto es una prueba
            </expansion-panel-content>
        </expansion-panel>
        <expansion-panel>
            <expansion-panel-title>Anuncio de prueba 3</expansion-panel-title>
            <expansion-panel-content>
                Esto es una prueba
            </expansion-panel-content>
        </expansion-panel>
    </expansion-panels-container>
</md-dialog-content> -->